@import url('https://fonts.googleapis.com/css?family=B612|Roboto+Condensed|Lato|Indie+Flower');
h1, h2, h3, h4, h5 {
	font-family: Lato;
}
p {
	font-family: "Roboto Condensed";
}
li {
	font-family: B612;
}
#logo {
    width: 15%;
    height: auto;
}
#header {
    border-bottom: 2px solid black;
	overflow: hidden;
	position: -webkit-sticky; /* Safari */
    position: sticky;
}
#menu {
	position: absolute;
	right: 0;
	top: 0;
}
.menubutton {
	padding: 10px;
	padding-right: 25px;
	margin: 10px;
	background-color: transparent;
	border: none;
	border-right: 1px solid;
	text-align: center;
	color: auto;
	color: white;
	font-family: "Indie Flower";
	font-size: 24px
}
.menubutton:hover{
		animation-name: mbhover;
	animation-duration:  1s;
	animation-fill-mode: forwards; 
}
@keyframes mbhover {
	
	100% {background-color: blue;}
}
#projects.menubutton {
	border: none;
}
a.menuba {
	color: transparent;
}
div.content {
	text-align: center;
	border-radius: 25px;
	background-color: beige;
	padding: 50px;
	margin-top: 100px;
position: absolute;
	left: 10%;
	right: 10%;
	margin-bottom: 100px;
	background-color: black;
	color: white;
	
}
div.content li {
	text-align: left;
	color: white;
}

div.content a {
	text-decoration: none;
}

div#header {
	background-color: black;
}
body {
	background-color: blue;
}
