#logo {
    width: 15%;
    height: auto;
}
#header {
    border-bottom: 2px solid black;
	overflow: hidden;
	position: -webkit-sticky; /* Safari */
    position: sticky;
}
#menu {
	position: absolute;
	right: 0;
	top: 0;
}
.menubutton {
	padding: 10px;
	padding-right: 25px;
	margin: 10px;
	background-color: transparent;
	border: none;
	border-right: 1px solid;
}
#projects {
	border: none;
}
.topdiv {
	display: none;
	border: 2.5px solid black;
	padding-left: 49%;
	padding-right: 49%;
	margin-top: 100px;
}
.topdivhead {
	font-family: Lato;
}
