#topp {
	font-size: 24px;
}



div.topdiv {
	opacity: 1;
	border: 2.5px solid black;
	padding-left: 49%;
	padding-right: 49%;
	margin-top: 100px;
	position: relative;
	display: none;
}
h1.topdiv {
	font-family: Lato;
	text-align: center;
	padding: 0;
	margin: 0;
}




